
<div *ngIf="isShowServiceForm == 'list'" class="grid grid-cols-2 gap-8">

  <div (click)="showCompanion()" class="w-full p-8 bg-gray-300 rounded-lg">
    <img class="w-36" src="assets/companion.png" alt="" srcset="">
    <p class="text-center">Companion</p>
  </div>

  <div class="w-full p-8 bg-gray-300 rounded-lg">
    <img class="w-36" src="assets/pcare.png" alt="" srcset="">
    <p class="text-center">Personal Care</p>
  </div>



  <div class="w-full p-8 bg-gray-300 rounded-lg">
    <img class="w-36" src="assets/babysitting.png" alt="" srcset="">
    <p class="text-center">Babysitting</p>
  </div>

  <div class="w-full p-8 bg-gray-300 rounded-lg">
    <img class="w-36" src="assets/errand.png" alt="" srcset="">
    <p class="text-center">Errands</p>
  </div>

</div>

<div *ngIf="isShowServiceForm == 'companion'">
  <p class="text-center text-2xl font-semibold text-blue-900">BOOK A SERVICE</p>
  <p class="mt-16">Please fill out the form:</p>
  <div class="shadow-md w-full p-6 rounded-lg">

  </div>
  <button type="button" class="w-full text-white bg-blue-400 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-md px-6 py-2.5 mt-2 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">SUBMIT</button>
</div>
