
<div class="grid grid-cols-2 gap-8">

  <div class="w-full p-8 bg-gray-300 rounded-lg">
    <img class="w-36" src="assets/companion.png" alt="" srcset="">
    <p class="text-center">Companion</p>
  </div>

  <div class="w-full p-8 bg-gray-300 rounded-lg">
    <img class="w-36" src="assets/pcare.png" alt="" srcset="">
    <p class="text-center">Personal Care</p>
  </div>



  <div class="w-full p-8 bg-gray-300 rounded-lg">
    <img class="w-36" src="assets/babysitting.png" alt="" srcset="">
    <p class="text-center">Babysitting</p>
  </div>

  <div class="w-full p-8 bg-gray-300 rounded-lg">
    <img class="w-36" src="assets/errand.png" alt="" srcset="">
    <p class="text-center">Errands</p>
  </div>

</div>
