 <p class="text-2xl">Manage Caregiver/Housekeeper</p>

 <div *ngIf="isViewItem">
  <p  (click)="hideItem()" class="font-bold cursor-pointer"> < Back</p>
  <div   class="shadow-md border rounded-lg p-6 my-4 ">

    <div class="flex flex-row justify-between ">
      <div>
        <p>Rates</p>
            <div class="flex items-center">
              <input id="default-radio-1" type="radio" value="" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
              <label for="default-radio-1" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">300 PHP</label>
          </div>

          <div class="flex items-center">
              <input checked id="default-radio-2" type="radio" value="" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
              <label for="default-radio-2" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">400 PHP</label>
          </div>
      </div>
      <div class="flex flex-col">
        <button class="bg-blue-500 hover:bg-blue-700 text-xs text-white font-normal py-2 px-6 rounded my-0.5">
          Add
        </button>
        <button class="bg-blue-500 hover:bg-blue-700 text-xs text-white font-normal py-2 px-6 rounded my-0.5">
          Edit
        </button>
      </div>

  </div>

  </div>




  <div class="shadow-lg border rounded-lg p-6 ">
        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Rates</label>
        <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" value="300 PHP" required>

        <button class="bg-blue-500 hover:bg-blue-700 text-xs text-white font-normal py-2 px-6 rounded mt-2 mr-2">
          Update
        </button>
        <button class="bg-red-500 hover:bg-red-700 text-xs text-white font-normal py-2 px-6 rounded mt-2 mr-2">
          Delete
        </button>
  </div>

 </div>


 <div *ngIf="!isViewItem" class="w-full my-4 flex flex-col justify-between">

  <div (click)="showItem()" class="bg-blue-300 shadow-md border rounded-lg p-8 w-full m-1">Rentals</div>
  <div (click)="showItem()"  class="bg-blue-300 shadow-md border rounded-lg p-8 w-full m-1">Agendas</div>
  <div (click)="showItem()"  class="bg-blue-300 shadow-md border rounded-lg p-8 w-full m-1">Rates</div>
  <div (click)="showItem()"  class=" bg-blue-300 shadow-md border rounded-lg p-8 w-full m-1">Durations</div>
</div>
