 <p class="text-2xl">Manage Caregiver/Housekeeper</p>







 <div *ngIf="isViewItem == 'rates'">
  <p  (click)="hideItem()" class="font-bold cursor-pointer"> < Back</p>
  <div   class="shadow-md border rounded-lg p-6 my-4 ">

    <div>
      <div>
        <p>Rates</p>
            <div *ngFor="let rates of rates" class="flex flex-row justify-between">
              <div>
                <input id="default-radio-1" type="radio" value="" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="default-radio-1" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{rates.text}}</label>
              </div>


            </div>

          </div>

          <div class="flex flex-col">
            <button (click)="showAddFormRates(rates.id, 'rates')" class="bg-blue-500 hover:bg-blue-700 text-xs text-white font-normal py-2 px-6 rounded my-0.5">
              Add
            </button>
            <button (click)="deleteRates(rates.id)" class="bg-red-500 hover:bg-red-700 text-xs text-white font-normal py-2 px-6 rounded my-0.5">
              Delete
            </button>
          </div>

  </div>
  </div>
  <div *ngIf="isAddFormRates" class="shadow-lg border rounded-lg p-6 ">
        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Rates</label>
        <input [(ngModel)]="rate" type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required>

        <button (click)="submitRates()" class="bg-blue-500 hover:bg-blue-700 text-xs text-white font-normal py-2 px-6 rounded mt-2 mr-2">
          Submit
        </button>

  </div>

 </div>



 <div *ngIf="isViewItem == 'rentals'">
  <p  (click)="hideItem()" class="font-bold cursor-pointer"> < Back</p>
  <div   class="shadow-md border rounded-lg p-6 my-4 ">

    <div>
      <div>
        <p>Rates</p>
            <div *ngFor="let rentals of rentals" class="flex flex-row justify-between">
              <div>
                <input id="default-radio-1" type="radio" value="" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="default-radio-1" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{rentals.text}}</label>
              </div>


            </div>

          </div>

          <div class="flex flex-col">
            <button (click)="showFormRentals()" class="bg-blue-500 hover:bg-blue-700 text-xs text-white font-normal py-2 px-6 rounded my-0.5">
              Add
            </button>
            <button (click)="deleteRates(rentals.id)" class="bg-red-500 hover:bg-red-700 text-xs text-white font-normal py-2 px-6 rounded my-0.5">
              Delete
            </button>
          </div>

  </div>
  </div>
  <div *ngIf="isAddFormRentals" class="shadow-lg border rounded-lg p-6 ">
        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Rentals</label>
        <input [(ngModel)]="rental" type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required>

        <button (click)="submitRentals()" class="bg-blue-500 hover:bg-blue-700 text-xs text-white font-normal py-2 px-6 rounded mt-2 mr-2">
          Submit
        </button>

  </div>

 </div>



 <div *ngIf="isViewItem == 'agendas'">
  <p  (click)="hideItem()" class="font-bold cursor-pointer"> < Back</p>
  <div   class="shadow-md border rounded-lg p-6 my-4 ">

    <div>
      <div>
        <p>Rates</p>
            <div *ngFor="let agendas of agendas" class="flex flex-row justify-between">
              <div>
                <input id="default-radio-1" type="radio" value="" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="default-radio-1" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{agendas.text}}</label>
              </div>



            </div>

          </div>



          <div class="flex flex-col">
            <button (click)="showFormAgendas()" class="bg-blue-500 hover:bg-blue-700 text-xs text-white font-normal py-2 px-6 rounded my-0.5">
              Add
            </button>
            <button (click)="deleteRates(rentals.id)" class="bg-red-500 hover:bg-red-700 text-xs text-white font-normal py-2 px-6 rounded my-0.5">
              Delete
            </button>
          </div>

  </div>
  </div>
  <div *ngIf="isAddFormAgendas" class="shadow-lg border rounded-lg p-6 ">
        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Rentals</label>
        <input [(ngModel)]="agenda" type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required>
        <div>
          <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Services</label>
          <select #_agenda (change)="selectService(_agenda.value)"  id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-4">
            <option selected>Select</option>
            <option *ngFor="let services of services" value="{{services.id}}">{{services.text}}</option>
          </select>

        </div>

        <button (click)="submitAgendas()" class="bg-blue-500 hover:bg-blue-700 text-xs text-white font-normal py-2 px-6 rounded mt-2 mr-2">
          Submit
        </button>

  </div>

 </div>
















 <div *ngIf="!isViewItem" class="w-full my-4 flex flex-col justify-between">

  <div (click)="showItem('rentals')" class="bg-blue-300 shadow-md border rounded-lg p-8 w-full m-1">Rentals</div>
  <div (click)="showItem('agendas')" class="bg-blue-300 shadow-md border rounded-lg p-8 w-full m-1">Agendas</div>
  <div (click)="showItem('rates')" class="bg-blue-300 shadow-md border rounded-lg p-8 w-full m-1">Rates</div>
  <div (click)="showItem('durations')" class=" bg-blue-300 shadow-md border rounded-lg p-8 w-full m-1">Durations</div>
</div>
