
  <div class="grid grid-cols-2 gap-8">

    <div class="w-full p-8 bg-gray-300 rounded-lg">
      <img class="w-36" src="assets/wash.png" alt="" srcset="">
      <p class="text-center">Laundry</p>
    </div>

    <div class="w-full p-8 bg-gray-300 rounded-lg">
      <img class="w-36" src="assets/cr.png" alt="" srcset="">
      <p class="text-center">Toilet</p>
    </div>



    <div class="w-full p-8 bg-gray-300 rounded-lg">
      <img class="w-36" src="assets/car.png" alt="" srcset="">
      <p class="text-center">Carwash</p>
    </div>

    <div class="w-full p-8 bg-gray-300 rounded-lg">
      <img class="w-36" src="assets/clean.png" alt="" srcset="">
      <p class="text-center">Light Chores</p>
    </div>

  </div>


