<p class="text-2xl text-center font-semibold">E-RENTALS</p>

<div class="grid grid-cols-2 gap-8">

    <div class="w-full p-8 bg-gray-300 rounded-lg">
      <img class="w-20 h-20" src="assets/babysitting.png" alt="">
      <p>Child Care</p>
    </div>

    <div class="w-full p-8 bg-gray-300 rounded-lg">
      <img class="w-20 h-20" src="assets/clean.png" alt="">
      <p>Cleaning Materials</p>
    </div>



  <div class="w-full p-8 bg-gray-300 rounded-lg">
    <img class="w-20 h-20" src="assets/home.png" alt="">
    <p>Home Equipment</p>
  </div>

  <div class="w-full p-8 bg-gray-300 rounded-lg">
    <img class="w-20 h-20" src="assets/pcare.png" alt="">
    <p>Personal Care</p>
  </div>


</div>


